@import "./reset.css";
/* @import "./variables.css"; */
/* @import "./layouts.css"; */
/* @import "./inputs.css"; */
/* @import "./colorpicker.css"; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    font-family: 'Roboto', sans-serif;
}


body {
    min-height: 100vh;
    background-color: #141414;

    #loader {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        height: 100%;
        width: 100%;
        background-color: rgb(214, 214, 214);
        color: rgb(79, 79, 79);

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 60px;
            width: 60px;
            transform: translate(-50%, -50%);
        }

        &.fading-out {
            animation: fade-out 300ms linear forwards;
        }

        &.finished-loading {
            display: none;
        }
    }
}

@keyframes fade-out {
    from {
        display: block;
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.cube {
    background-color: red;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &:has(option[value=rgb]:checked) {
        #hslInputs {
            display: none;
        }
    }

    &:has(option[value=hsl]:checked) {
        #rgbInputs {
            display: none;
        }
    }

    .input-group {
        display: flex;
        gap: 4px;

        label {
            flex: 1 0 30%;

            input {
                width: 100%;
            }
        }
    }
}

#list-ingredients,
#list-buckets {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.workspace {
    display: grid;
    grid-template-areas:
        "I H M"
        "B H M";
    grid-template-rows: minmax(300px, 1fr) minmax(300px, 1fr);
    gap: 8px;

    section {
        display: block;
        background-color: #ffdfc1;
        border: 1px solid black;

        &#ingredients {
            grid-area: I;
        }
        &#mixed-buckets {
            grid-area: M;
        }
        &#buckets {
            grid-area: B;
        }
        &#halls {
            grid-area: H;
        }
    }
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    background-color: #2a2a2a;
    color: white;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(4px);
    }
}