x-mixer {
    display: block;
    aspect-ratio: 414/450;
    width: clamp(120px, 100%, 170px);
    background-image: url('/assets/svg/mixer/base.svg');
    background-size: 100% 100%;
    position: relative;
    animation: pop-in 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    &::before,
    &::after {
        height: 100%;
        width: 100%;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-size: 100% 100%;
    }
    &::before {
        background-image: url('/assets/svg/mixer/door.svg');
        z-index: 6;
    }
    &::after {
        background-image: url('/assets/svg/mixer/door-glass.svg');
        z-index: 8;
    }

    .mixer-colors {
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 7;
        
        .mixer-colors-blob {
            z-index: 8;
            filter: blur(4px);
        }
    }

    &.is-mixing {
        transform-origin: 50% 90%;
        animation: shake var(--duration, 10s) infinite ease-in-out;
        .mixer-colors-blob {
            transform-origin: 50% calc(50% + 20px);
            animation: spin calc(var(--duration, 10s) / var(--speed, 1)) infinite linear;
        }
        & > .tooltip {
            display: none;
        }
    }
}

.extreme-temps {
    x-mixer:not([mixer-index="1"]) {
        filter: grayscale(1) sepia(1) saturate(10) hue-rotate(-40deg);
        animation: burn 300ms infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &::after {
            background-image: url('/assets/gifs/fire.gif');
            background-size: 100% 100%;
            /* top: -10px; */
            height: 120%;
            width: 120%;
            left: -10%;
            top: -20%;
            pointer-events: none;
        }

        & > .tooltip {
            display: none;
        }
    }
}